doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/styleReg.css")
    link(rel="stylesheet", href="/css/style.css")
    title Sign In
  body
    nav.navbar
      div.logo
        span
          a(href="/") VirtuBell
      ul.nav-list
        li
          a(href="/") Home
        li
          a(href="#") About
        li
          a(href="/contact") Contact
        li
          a(href="/login") Login/Register
    div.form-container
      form.form(action="/login", method="post")
        p.title Login Now!
        p.message Login now and get full access to our services.
        
        if successMessage
          p.successMessage= successMessage
        
        if errorMessage
          p.errorMessage= errorMessage
        
        label
          input.input(type="email", name="email", placeholder="Email", required)
        label
          input.input(type="password", name="password", placeholder="Password", required)
        button.submit(type="submit") Submit
        p.signin Don't have an account? 
          a(href="/register") Sign Up!

    script.
      const loginForm = document.querySelector('.form');
      const emailInput = document.querySelector('input[name="email"]');
      const passwordInput = document.querySelector('input[name="password"]');
      
      loginForm.addEventListener('submit', function(event) {
          if (!validateForm()) {
              event.preventDefault();
          }
      });

      function validateForm() {
          const email = emailInput.value.trim();
          const password = passwordInput.value;

          if (email === '' || password === '') {
              alert('Please fill in all fields.');
              return false;
          }
          return true;
      }
